font-size = 14px;
font-family= Arial;
$font-weight = 20px;
padding = 20px; 
$margin = 100px;

body {
  font-size: font-size;
  font-family: font-family;
  font-weight: $font-weight;
  padding: padding;
  margin: $margin;
}
